/* -----------MOBILE------------ */
.hero {
  margin: 0 auto;
  height: 380px;
  max-width: 320px;
}

.img-container {
  position: absolute;
  background-image: linear-gradient(
    87.41deg,
    #111111 33.93%,
    rgba(17, 17, 17, 0) 78.91%
  );
  width: 320px;
  height: 380px;
  right: 0px;
  top: 0px;
}

.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 380px;
  object-fit: cover;
  object-position: 18%;
  z-index: -1;
}

.section {
  padding-top: 0;
}

.hero-container {
  position: relative;
  padding-top: 40px;
}

.hero-content {
  position: absolute;
  z-index: 1;
}

.hero-text-container {
  max-width: 177px;
  margin-bottom: 20px;
  z-index: 100;
}

.hero-title {
  line-height: 1.18;
  margin-bottom: 8px;
  color: var(--secondary-text-color);
}

.hero-text {
  line-height: 1.14;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-stars {
  margin-top: 5px;
  margin-bottom: 21px;
}

.btn-list {
  display: flex;
  gap: 8px;
}

.btn {
  position: relative;
  padding: 12px 24px;
  border: none;
  border-radius: 74px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  transition: all var(--animation-duration) var(--timing-function);
}

.btn-details {
  padding: 12px 24px;
  border-radius: 74px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  transition: color var(--animation-duration) var(--timing-function),
    border var(--animation-duration) var(--timing-function);
}

.btn-details:hover,
.btn-details:focus {
  border: 1px solid #f87719;
  color: #f87719;
}

.btn::before {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background: var(--primary-background-color);
  border-radius: 74px;
  opacity: 0;
  transition: all var(--animation-duration) var(--timing-function);
}

.btn:hover,
.btn:focus {
  z-index: 1;
  color: #f87719;
}

.btn:hover::before,
.btn:focus::before {
  opacity: 1;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  /* ---------- MOBILE ONLY -------------- */
  .mobile-hidden {
    display: none;
  }
}

/* ------------------TABLET-------------------- */
@media screen and (min-width: 768px) {
  .hero {
    height: 432px;
    max-width: 768px;
  }

  .img-container {
    background-image: linear-gradient(
      81.57deg,
      #111111 12.76%,
      rgba(17, 17, 17, 0) 72.65%
    );
    width: 482px;
    height: 432px;
  }

  .hero-img {
    width: 482px;
    height: 432px;
    object-position: 40%;
  }

  .hero-container {
    padding-top: 62px;
  }

  .hero-text-container {
    max-width: 295px;
  }

  .hero-text {
    margin-bottom: 28px;
  }

  .hero-stars {
    margin-bottom: 20px;
  }
}

/* ---------------------DESKTOP--------------- */

@media screen and (min-width: 1280px) {
  .hero-text-container {
    max-width: 385px;
  }

  .hero-text {
    margin-bottom: 36px;
  }

  .hero-container {
    padding-top: 118px;
    height: 720px;
  }

  .img-container {
    background-image: linear-gradient(
      83.06deg,
      #111111 11.91%,
      rgba(17, 17, 17, 0) 73.11%
    );
    width: 802px;
    height: 720px;
  }

  .hero-img {
    width: 802px;
    height: 720px;
    object-position: 33%;
    border: 1px solid #111111;
  }

  .hero-title {
    margin-bottom: 16px;
  }

  .hero {
    height: 720px;
    max-width: 1280px;
  }

  .btn-list {
    gap: 14px;
  }
}
