/* -----------MOBILE------------ */
.hero {
  padding: 40px 0;
  margin: 0 auto;
  max-width: 320px;
  height: 300px;
  background-size: contain;
  background-position: 80px;
  background-repeat: no-repeat;
}

.hero-text-container {
  max-width: 166px;
}

.hero-title {
  line-height: 1.18;
  margin-bottom: 8px;
  color: var(--secondary-text-color);
}

.hero-text {
  line-height: 1.14;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  max-height: 80px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.hero-text::-webkit-scrollbar {
  opacity: 0;
}

.hero-stars {
  margin-top: 5px;
  margin-bottom: 21px;
}

.btn-list {
  display: flex;
  gap: 8px;
}

.btn {
  position: relative;
  padding: 12px 24px;
  border: none;
  border-radius: 74px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  transition: all var(--animation-duration) ease-in-out;
}

.btn-details {
  padding: 12px 24px;
  border-radius: 74px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  transition: color var(--animation-duration) ease-in-out,
    border var(--animation-duration) ease-in-out;
}

.btn-details:hover,
.btn-details:focus {
  border: 1px solid #f87719;
  color: #f87719;
}

.btn::before {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background: var(--primary-background-color);
  border-radius: 74px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
}

.btn:hover,
.btn:focus {
  z-index: 1;
  color: #f87719;
}

.btn:hover::before,
.btn:focus::before {
  opacity: 1;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  /* ---------- MOBILE ONLY -------------- */
  .mobile-hidden {
    display: none;
  }
}

/* ------------------TABLET-------------------- */
@media screen and (min-width: 768px) {
  .hero {
    padding: 62px 0;
    height: 248px;
    max-width: 768px;
    background-position: 200px;
  }

  .hero-text-container {
    max-width: 357px;
  }

  .hero-text {
    margin-bottom: 28px;
    max-height: 64px;
  }

  .hero-stars {
    margin-bottom: 20px;
  }
}

/* ---------------------DESKTOP--------------- */

@media screen and (min-width: 1280px) {
  .hero-text-container {
    max-width: 464px;
  }
  .hero-text {
    margin-bottom: 36px;
  }

  .hero-title {
    margin-bottom: 16px;
  }

  .hero {
    padding: 118px 0;
     height: 484px;
    max-width: 1280px;
    background-position: 200px;
  }

  .btn-list {
    gap: 14px;
  }
}


