.no-results {
    text-align: center;
}

.text-no-results {
    font-weight: var(--font-weight-std);
    font-size: 20px;
    line-height: 1.4;
    color: var(--primary-text-color);
}

.text-no-results:not(:last-child) {
    margin-bottom: 4px;
}

.gallery-movies {
    display: flex;
    flex-wrap: wrap;
}

.gallery-movies-img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.gallery-movies-item {
    position: relative;
}

.gallery-movies-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
    border-radius: 4px;
}

.gallery-movies-description {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.gallery-movies-title {
    color: #FFFFFF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: var(--font-weight-medium);
}

.gallery-movies-details {
    color: #B7B7B7;
    font-style: normal;
    font-weight: var(--font-weight-medium);
}

.gallery-movies-title,
.gallery-movies-details {
    font-size: 12px;
    line-height: 1.67;
}

.gallery-movies {
    row-gap: 16px;
}

.gallery-movies-item {
    width: 280px;
    height: 420px;
}


@media screen and (min-width:768px) {
    .text-no-results {
        font-size: 24px;
        line-height: 1.33;
    }    

    .gallery-movies {
        row-gap: 28px;
        column-gap: 16px;
    }

    .gallery-movies-item {
        width: 224px;
        height: 336px;
    }

    .gallery-movies-description {
        bottom: 12px;
        left: 12px;
    }

    .gallery-movies-title,
    .gallery-movies-details {
        line-height: 1.5;
    }
}

/* Desktop style */
@media screen and (min-width:1280px) {
    .text-no-results {
        font-size: 32px;
        line-height: 1.12;
    }  

    .gallery-movies {
        row-gap: 32px;
        column-gap: 15px;
    }

    .gallery-movies-item {
        width: 395px;
        height: 592.5px;
    }

    .gallery-movies-description {
        width: 354px;
        bottom: 20px;
        left: 20px;
    }

    .gallery-movies-title,
    .gallery-movies-details {
        font-size: 20px;
        line-height: 1.15;
    }

    .gallery-movies-title {
        margin-bottom: 3px;
    }
}