t.tui-pagination {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 70px;
  }
  .tui-page-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    background: transparent;
  }
  .tui-page-btn:hover,
  .tui-page-btn:focus {
    color: var(--primary-text-color);
    border: 2px solid linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    

  }
  .tui-page-btn.tui-is-selected {
    color: var(--primary-text-color);
    border: none;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
  }
  
  /* .tui-page-btn.tui-first {
    margin: 0;
    border: none;
    background-image: url(/src/images/pagination/double-arrow-prev.png);
    background-repeat: no-repeat;
    background-position: 100%;
  } */
  /* .tui-page-btn.tui-last {
    border: none;
    margin: 0;
    background-image: url(/src/images/pagination/double-arrow-next.png);
    background-position: 50% 50%;
  } */
  .tui-page-btn.tui-prev-is-ellip.tui-first-child,
  .tui-page-btn.tui-next-is-ellip.tui-last-child {
    border: none;
  }
  .tui-page-btn.tui-next {
    background-image: url(/src/images/pagination/arrow-next.png);
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    margin-right: 0;
  }
  .tui-page-btn.tui-prev {
    background-image: url(/src/images/pagination/arrow-prev.png);
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    margin-right: 0;
  }
  .tui-next-is-ellip,
  .tui-prev-is-ellip {
    border: none;
    align-items: flex-end;
    width: 10px;
  }
  .tui-is-disabled {
    display: none;
  }
  .tui-next-is-ellip.tui-last-child {
    margin-right: 0;
  }