.star-rating-hero {
    margin-bottom: 21px;
    height: 16px;
}
.star-rating-card {
    
    height: 14px;
    float: right;
    
    margin-left: 5px;   
    margin-right: 5px;   

    
    
    
    
}

.gallery-movies-description {
width: 100%-20px;
}

/* .star-rating-container{
   
    
}   */

/*----------------------------------------------------------Tablet */
@media screen and (min-width: 768px) {
.star-rating-hero {
    margin-bottom: 21px;
    height: 20px;
}
.star-rating-card {
    height: 10px;
    float: right;
    
    margin-top: 5px;
    
    
    
}

/* .star-rating-container{
    max-height: 100%;
    
}   */

}

/*----------------------------------------------------------Desktop */
@media screen and (min-width: 1280px) {

.star-rating-hero {
    margin-bottom: 30px;
    width: 136px;
    height: 24px;
}
.star-rating-card {
    height: 18px;
    float: right;
    
    margin-left: 5px;   
    margin-top: 5px;
    
    
    
}

/* .star-rating-container{
    max-height: 100%;
    
} */




}
