.star-rating-hero {
    margin-bottom: 21px;
    height: 16px;
}
.star-rating-card {
    
    height: 14px;
    margin-bottom: 6px;
    
    /* float: right; */
}
.gallery-movies-wrap {
    display: flex;
    gap: 7px;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 13px;
}

/*----------------------------------------------------------Tablet */
@media screen and (min-width: 768px) {
.star-rating-hero {
    margin-bottom: 21px;
    height: 20px;
}
.star-rating-card {
    height: 10px;
   
}

}

/*----------------------------------------------------------Desktop */
@media screen and (min-width: 1280px) {

.star-rating-hero {
    margin-bottom: 30px;
    height: 24px;
}
.star-rating-card {
    height: 18px;
    /* float: right; */
    
 
    
    
    
}

}
