.star-rating-hero {
    margin-bottom: 30px;
    width: 136px;
    height: 24px;
}
.star-rating-card {
    width: 106px;
    height: 18px;
    float: right;
    
    margin-left: 5px;   
    margin-top: 5px;
    padding-bottom: 5px;
    /*margin-top: auto;*/
    
}

.star-rating-container{
    /*max-height: 100%;*/
    
}


/*----------------------------------------------------------Tablet */
@media screen and (min-width: 768px) {
  

}

/*----------------------------------------------------------Desktop */
@media screen and (min-width: 1280px) {



}
