<header class="header">
  <section class="section">
    <div class="container">
        <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="./index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="./catalog.html" class="nav-link">Catalog</a>
          </li>
          <li class="nav-item">
            <a href="./my_library.html" class="nav-link">My library</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</header>
