<section class="section">
    <div class="container">
        <form class="catalog__form" id="search-form">
            <div class="catalog__form_wrapper">
              <input
                class="catalog__form-input"
                type="text"
                name="search"
                id="searchQuery"
                placeholder="Search"
                autocomplete="off"
              />
      
              <button
                class="catalog__form-button"
                type="submit"
                aria-label="search button"
              >
        
                <svg class="search__icon" width="18" height="18">
                  <use href="./images/sprite.svg#icon-searh_white" ></use>
                </svg>
              </button>
            </div>
          </form>
    </div>
</section>