<div class="backdrop-team-modal">
  <div class="modal-team">
    <button type="button" class="close-btn">
      <svg class="modal-close-btn" width="15" height="15">
        <use class="close-icon" href="../../images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-container ">
      <h1 class="team-name">Dream Team</h1>
    <ul class="team-card">
      <li class="card">
        <img src="../../images/team-photo/Олександр_Шкут.jpg" alt="Team-Lead">
        <p class="full-name">Олександр Шкут</p>
        <p class="team-position">Team-Lead</p>
      </li>
      <li class="card">
        <img src="../../images/team-photo/Лідія_Зайченко.jpg" alt="Scrum-Master">
        <p class="full-name">Лідія Зайченко</p>
        <p class="team-position">Scrum-Master</p>
      </li>
      <li class="card">
        <img src="../../images/team-photo/Роксолана_Проців.jpg" alt="Developer">
        <p class="full-name">Роксолана Проців</p>
        <p class="team-position">Developer</p>
      </li>
      <li class="card">
        <img src="../../images/team-photo/Іванов_Володимир.jpg" alt="Developer">
        <p class="full-name">Володимир Іванов</p>
        <p class="team-position">Developer</p>
      </li>
      <li class="card">
        <img src="../../images/team-photo/Олександр_Буртовий.jpg" alt="Developer">
        <p class="full-name">Олександр Буртовий</p>
        <p class="team-position">Developer</p>
      </li>
      <li class="card">
        <img src="../../images/team-photo/Вероніка_Бєгунова.jpg" alt="Developer">
        <p class="full-name">Вероніка Бєгунова</p>
        <p class="team-position">Developer</p>
      </li>
      <li class="card">
        <img src="../../images/team-photo/Ігор_Ярославський.jpg" alt="Developer">
        <p class="full-name">Ігор Ярославський</p>
        <p class="team-position">Developer</p>
      </li>
      <li class="card">
        <img src="../../images/team-photo/Анастасія_Григор'єва.jpg" alt="Developer">
        <p class="full-name">Анастасія Григорʼєва </p>
        <p class="team-position">Developer</p>
      </li>
      <li class="card">
        <img src="../../images/team-photo/Наталья_Русакова.jpg" alt="Developer">
        <p class="full-name">Наталія Русакова</p>
        <p class="team-position">Developer</p>
      </li>
      <li class="card">
        <img src="../../images/team-photo/Владислав_Алдошин.jpg" alt="Developer">
        <p class="full-name">Владислав Алдошин</p>
        <p class="team-position">Developer</p>
      </li>
      <li class="card">
        <img src="../../images/team-photo/Іван_Островка.jpg" alt="Developer">
        <p class="full-name">Іван Островка</p>
        <p class="team-position">Developer</p>
      </li>
    </ul>
    </div>
    </div>
</div>

  