<div class="backdrop-team-modal">
    <div class="modal-team">
      <button type="button" class="close-btn">
        <svg class="modal-close-btn" width="15" height="15">
          <use class="close-icon" href="../../images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal-container ">
        <h1 class="team-name">Dream Team</h1>
      <ul class="team-card">
        <li class="card">
          <img src="../../images/IMG.jpg" alt="" width="180">
          <p class="full-name">Aldoshin Vladislav</p>
          <p class="team-position">Team-Lead</p>
        </li>
        <li class="card">
          <img src="../../images/IMG.jpg" alt="" width="180">
          <p class="full-name">Aldoshin Vladislav</p>
          <p class="team-position">Scrum-Master</p>
        </li>
        <li class="card">
          <img src="../../images/IMG.jpg" alt="" width="180">
          <p class="full-name">Aldoshin Vladislav</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="../../images/IMG.jpg" alt="" width="180">
          <p class="full-name">Aldoshin Vladislav</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="../../images/IMG.jpg" alt="" width="180">
          <p class="full-name">Aldoshin Vladislav</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="../../images/IMG.jpg" alt="" width="180">
          <p class="full-name">Aldoshin Vladislav</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="../../images/IMG.jpg" alt="" width="180">
          <p class="full-name">Aldoshin Vladislav</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="../../images/IMG.jpg" alt="" width="180">
          <p class="full-name">Aldoshin Vladislav</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="../../images/IMG.jpg" alt="" width="180">
          <p class="full-name">Aldoshin Vladislav</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="../../images/IMG.jpg" alt="" width="180">
          <p class="full-name">Aldoshin Vladislav</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="../../images/IMG.jpg" alt="" width="180">
          <p class="full-name">Aldoshin Vladislav</p>
          <p class="team-position">Developer</p>
        </li>
      </ul>
      </div>
      </div>
  </div>
  