/**
  |============================
  | include css partials with
  | default @import url()
  |============================
/* base */
@import url('./base/common.css');
@import url('./base/reset.css');
/* components */
/* layout */
@import url('./layout/header.css');
@import url('./layout/weekly.css');
@import url('./layout/upcoming.css');
@import url('./layout/footer.css');

/* pages */
/* catalog page */
@import url('./pages/catalog/cat_header.css');
@import url('./pages/catalog/cat_hero.css');
@import url('./pages/catalog/cat_search.css');
@import url('./pages/catalog/movie_catalog.css');
@import url('./pages/catalog/pagination.css');


/* library page */
@import url('./pages/library/lib_header.css');
@import url('./pages/library/lib_hero.css');
@import url('./pages/library/my_movies.css');
