<!-- is-hidden -->
<div class="backdrop-oops is-hidden" data-modal-oops>
  <div class="modal-oops">
    <button type="button" class="close-modal-oops" data-modal-oops-close>
      <svg class="close-oops">
        <use href="/image/icon.svg#icon-close" ></use>
      </svg>
    </button>
    <h1 class="text-modal-oops">
      OOPS... <br> We are very sorry! <br>
      But we couldn’t find the trailer.
    </h1>
    <picture class="camera">
      <source srcset="./image/modal-camera-mobile-1x.jpg 1x, ./image/modal-camera-mobile-2x.jpg 2x" media="(max-width: 767px)" />
      <source srcset="./image/modal-camera-tablet-1x.jpg 1x, ./image/modal-camera-tablet-2x.jpg 2x" media="(min-width: 768px)" />
      <source srcset="./image/modal-camera-desktop-1x.jpg 1x, ./image/modal-camera-desktop-2x.jpg 2x" media="(min-width: 1280px)" />
      <img src="./image/modal-camera-mobile-1x.jpg" alt="camera" />
    </picture>
  </div>
</div>
