<div class="backdrop-team-modal">
    <div class="modal-team">
      <button type="button" class="close-btn">
        <svg class="modal-close-btn" width="15" height="15">
          <use class="close-icon" href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal-container ">
        <h1 class="team-name">Dream Team</h1>
      <ul class="team-card">
        <li class="card">
          <img src="../images/team-photo/oleksandr-shkut.jpg" alt="Team-Lead">
          <p class="full-name">Oleksandr Shkut</p>
          <p class="team-position">Team-Lead</p>
        </li>
        <li class="card">
          <img src="./images/team-photo/lidia.jpg" alt="Scrum-Master">
          <p class="full-name">Lidia Zaichenko</p>
          <p class="team-position">Scrum-Master</p>
        </li>
        <li class="card">
          <img src="./images/team-photo/ivan.jpg" alt="Developer">
          <p class="full-name">Ivan Ostrovka</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="./images/team-photo/vlad-ivanov.jpg" alt="Developer">
          <p class="full-name">Volodimir Ivanov</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="./images/team-photo/veronica.jpg" alt="Developer">
          <p class="full-name">Veronica Begunova</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="./images/team-photo/igor.jpg" alt="Developer">
          <p class="full-name">Igor Yaroslavskii</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="./images/team-photo/anastasia.jpg" alt="Developer">
          <p class="full-name">Anastasia Grigoreva </p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="./images/team-photo/natali.jpg" alt="Developer">
          <p class="full-name">Natalia Rusakova</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="./images/team-photo/vlad-ald.jpg" alt="Developer">
          <p class="full-name">Vladislav Aldoshin</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="./images/team-photo/roksolana.jpg" alt="Developer">
          <p class="full-name">Roksolana Prociv</p>
          <p class="team-position">Developer</p>
        </li>
        <li class="card">
          <img src="./images/team-photo/oleksandr-burtoviy.jpg" alt="Developer">
          <p class="full-name">Oleksandr Burtoviy</p>
          <p class="team-position">Developer</p>
        </li>
      </ul>
      </div>
      </div>
  </div>