/* -----------MOBILE------------ */
.lib-hero {
  margin: 0 auto;
  height: 380px;
  max-width: 320px;
  background-image: linear-gradient(
      79.49deg,
      #111111 34.1%,
      rgba(17, 17, 17, 0) 64.67%
    ),
    url(../../../images/library-mobile-1x.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .lib-hero {
    background-image: linear-gradient(
        79.49deg,
        #111111 34.1%,
        rgba(17, 17, 17, 0) 64.67%
      ),
      url(../../../images/library-mobile-2x.jpg);
  }
}

.section {
  padding-top: 0;
}

.lib-hero-container {
  position: relative;
  padding-top: 40px;
}

.lib-hero-text-container {
  max-width: 240px;
}

.hero-title {
  line-height: 1.18;
  margin-bottom: 8px;
  color: var(--secondary-text-color);
}

.lib-hero-text {
  height: 80px;
  line-height: 1.14;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}

/* ------------------TABLET-------------------- */
@media screen and (min-width: 768px) {
  .lib-hero {
    height: 432px;
    max-width: 768px;
    background-image: linear-gradient(
        77.77deg,
        #111111 33.58%,
        rgba(17, 17, 17, 0) 71.57%
      ),
      url(../../../images/library-tablet-1x.jpg);
    background-position: 130px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .lib-hero {
      background-image: linear-gradient(
          77.77deg,
          #111111 33.58%,
          rgba(17, 17, 17, 0) 71.57%
        ),
        url(../../../images/library-tablet-2x.jpg);
    }
  }

  .lib-hero-container {
    padding-top: 62px;
  }

  .lib-hero-text-container {
    max-width: 350px;
  }
}

/* ---------------------DESKTOP--------------- */

@media screen and (min-width: 1280px) {
  .lib-hero-text-container {
    max-width: 460px;
  }
  .lib-hero-text {
    margin-bottom: 36px;
  }

  .lib-hero-container {
    height: 720px;
    padding: 169px 85px 0 85px;
  }

  .hero-title {
    margin-bottom: 16px;
  }

  .lib-hero {
    height: 720px;
    max-width: 1280px;
    background-image: linear-gradient(
        80.53deg,
        #111111 21.92%,
        rgba(17, 17, 17, 0) 72.35%
      ),
      url(../../../images/library-desktop-1x.jpg);
    background-position: 208px -30px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .lib-hero {
      background-image: linear-gradient(
          80.53deg,
          #111111 21.92%,
          rgba(17, 17, 17, 0) 72.35%
        ),
        url(../../../images/library-desktop-2x.jpg);
    }
  }
}
